table {
    font-family:arial, sans-serif;
    border-collapse: collaspe;
    width: 30%;
}
    
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
    
tr:nth-child(even) {
    background-color: #dddddd
}

div.container {
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
}
  
p.exl {
    margin-left: 250px;
}
