
      .mySlides {display:none;}

      table {
          font-family:arial, sans-serif;
          border-collapse: collapse;
          width: 30%;
      }
                
      td, th {
          border: none;
          text-align:left;
          padding: 8px;
      }
                
      tr:nth-child(even) {
          background-color: none;
      }

      div.container {
          text-align: center;
      }

      .container img {
          display: block;
          margin: 0 auto;
      }

      ul.myUL {
          display: inline-block;
          text-align: left;
      }

      h1 {
          font-size: 72px;
      }   

      h2 {
          font-size: 35px;
          }  

      h3 {
          font-size: 30px;
          }  

      h5 {
          font-size: 25px;
          }  

      p {
          font-size: 30px;
      }   

      div {
          margin: 50px;
          border: 1px solid transparent;
      }

      img {
        display: block;
        margin: auto;
        width: 50%;
      }

      #References {
        box-sizing: border-box;
      }

      body {
        font-family: 'Roboto Slab', serif;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        display: grid;
        place-items: center;
        min-height: 100vh;
      }

      ol {
        padding: 0;
        margin: 0;
        max-width: 700px;
        position: relative;
      }

      ol::before {
        content: '';
        width: 0.5rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 8%;

        z-index: -1;
      }

      li {
        padding: 0.5rem 1.5rem 1rem;
        border-radius: 1.5rem;
        background: rgba(0, 0, 0, 0.6)
      }

      li + li {
        margin-top: 1rem;
      }

      ol, ul {
        list-style:none;
      }

      .parallax {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('SR_N4.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }

      .text-section {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border-radius: 10px;
        text-align: center;
      }

      .slide-image {
        width: 80%;
        max-width: 800px;
        height: auto;
        display: block;
        margin: 0 auto; /* center */
      }

