<style>
  table {
    font-family:arial, sans-serif;
    border-collapse: collaspe;
    width: 30%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd
  }
</style>

<style>
  p.exl {
    margin-left: 250px;
  }
</style>
  
